# Virtual environment
myvenv/
.venv/
venv/
.env
.pytest_cache/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Uploaded Images
uploads/

# Database
*.db

# Logs
*.log