fastapi
uvicorn
sqlalchemy
alembic

psycopg2-binary

python-dotenv
pydantic
pydantic-settings

python-jose
passlib
bcrypt

python-multipart
email-validator

Pillow

torch
torchvision

numpy
opencv-python

requests